<table>
  <th>Geo Location</th>
  <tr><td>Address</td><td>lat</td><td>long</td</tr>
  <tr>
    <td><%= results %></td>
  </tr>
</table>

<hr noshade>

Powered by the <a href = 'http://maps.googleapis.com/' target = _new>Google Maps API</a>
